body,
html {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  background: #d2dadd;
}
body #app {
  position: relative;
  margin: auto;
  width: 334px;
  height: 572px;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #c4c4c4;
}
header {
  width: 100%;
  height: 135px;
  background: #1d7fee;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 2px 5px #acacac;
}
header .title-wrap {
  width: 100%;
  color: #ffffff;
  display: flex;
  background: url(../image/cloud_two.png);
  background-size: cover;
  background-position-x: 70px;
}
header .title-wrap .left-con {
  width: 50%;
  padding: 60px 0 10px 20px;
}
header .title-wrap .left-con .title {
  font-size: 30px;
}
header .title-wrap .left-con .time {
  font-size: 10px;
  padding: 10px 0 0 0;
}
.slider-wrap {
  overflow: hidden;
}
@keyframes sliderMove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-650px);
  }
  100% {
    transform: translateX(0);
  }
}
.slider {
  display: block;
  width: 990px;
  height: 130px;
  background: #ffffff;
  transition: 1s transform;
  animation: sliderMove 5s;
}
.slider .label {
  width: 150px;
  height: 95px;
  border-radius: 10px;
  transform: translateY(20px);
  margin-left: 10px;
  color: #ffffff;
  float: left;
  cursor: pointer;
}
.slider .label .plan-wrap {
  height: 40px;
  transform: translateY(32px);
  margin-left: 10px;
}
.slider .label .plan-wrap .plan {
  font-size: 22px;
  margin-bottom: 5px;
}
.slider .label .plan-wrap .items {
  font-size: 12px;
}
.slider .label.All {
  background: #ec745c;
  margin-right: 5px;
}
.slider .label.Life {
  background: #5e5efe;
}
.slider .label.Work {
  background: #fbab4a;
  margin-right: 5px;
}
.slider .label.Study {
  background: #26b7f0;
}
.slider .label.Sports {
  background: #18e929;
  margin-right: 5px;
}
.slider .label.Travel {
  background: #e76f1f;
}
.dot {
  height: 12px;
}
.dot ul {
  width: 60px;
  margin: 0 auto;
}
.dot ul li {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #1277e4;
  margin-left: 5px;
  cursor: pointer;
}
.dot ul li.active {
  background: #1d7fee;
}
#list {
  width: 100%;
  height: 280px;
  overflow: hidden;
}
#list .date {
  height: 40px;
  padding: 10px 0 0 10px;
  box-sizing: content-box;
}
#list .date h2 {
  width: 85%;
  font-size: 25px;
  float: left;
}
#list .date .date-time {
  width: 15%;
  font-size: 13px;
  line-height: 25px;
}
#list .bar {
  width: 95%;
  height: 2px;
  border-radius: 5px;
  background: #187eec7c;
  margin: 15px auto 10px auto;
}
#list .c-list {
  overflow-y: scroll;
  width: 100%;
  height: 230px;
}
#list .c-list::-webkit-scrollbar {
  width: 3px;
}
#list .c-list::-webkit-scrollbar-button {
  display: none;
}
#list .c-list::-webkit-scrollbar-track {
  background: #ffffff;
}
#list .c-list::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 2px;
}
#list .c-list .affair {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}
#list .c-list .affair .circle {
  height: 100%;
  width: 30px;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  float: left;
  cursor: pointer;
}
#list .c-list .affair .circle.Life {
  color: #5e5efe;
}
#list .c-list .affair .circle.Work {
  color: #fbab4a;
}
#list .c-list .affair .circle.Study {
  color: #26b7f0;
}
#list .c-list .affair .circle.Sports {
  color: #18e929;
}
#list .c-list .affair .circle.Travel {
  color: #e76f1f;
}
#list .c-list .affair .circle.active {
  color: #6b6b6b;
}
#list .c-list .affair .right {
  float: right;
  width: 301px;
  height: 100%;
  transition: 1s transform;
}
#list .c-list .affair .right.moveLeft {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
#list .c-list .affair .right .center {
  float: left;
  width: 80%;
  height: 100%;
}
#list .c-list .affair .right .center .affair-title {
  width: 100%;
  height: 32px;
  font-size: 18px;
  line-height: 35px;
  color: #414141;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#list .c-list .affair .right .center .down {
  width: 90%;
  color: #9e9e9e;
  height: 18px;
  line-height: 21px;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#list .c-list .affair .right .time {
  display: inline-block;
  width: 55px;
  height: 50%;
  font-size: 12px;
  line-height: 35px;
  color: #949494;
}
#list .c-list .affair .right .ops {
  float: left;
  width: 55px;
  height: 25px;
  color: #ffffff;
}
.add-icon {
  position: absolute;
  color: #1277e4;
  font-size: 40px;
  right: 10px;
  bottom: 40px;
  cursor: pointer;
  z-index: 2;
}
.pop-up {
  position: absolute;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  display: flex;
}
.pop-up main {
  width: 250px;
  height: 360px;
  background: #f2f2f2;
  border-radius: 21px;
  margin: auto;
  box-shadow: 2px 2px 10px #6b6b6b;
  overflow: hidden;
}
.pop-up main .com {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  color: #696969;
  border-bottom: 1px solid #d2dadd;
}
.pop-up main .title-box {
  height: 50px;
  padding-top: 15px;
  color: #424242;
  border-bottom: 1px solid #d2dadd;
}
.pop-up main .title-box div {
  width: 80%;
  height: 28px;
  border: 1px solid #818181;
  border-radius: 10px;
  margin: 0 auto;
  padding: 5px 5px 0 5px;
}
.pop-up main .title-box div input {
  width: 95%;
  height: 22px;
  border: none;
  outline: none;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
}
.pop-up main .title-box div input:focus {
  border: none;
}
.pop-up main .desc {
  height: 130px;
  padding-top: 15px;
  border-bottom: 1px solid #d2dadd;
}
.pop-up main .desc textarea {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  outline: none;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.pop-up main .option {
  width: 140px;
  height: 30px;
  border: 1px solid #818181;
  position: relative;
  margin: 15px auto;
  border-radius: 4px;
}
.pop-up main .option select {
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  line-height: 30px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 20px;
}
.pop-up main .option:after {
  content: "";
  width: 14px;
  height: 8px;
  background: url(../image/down.jpg) no-repeat center;
  background-size: cover;
  position: absolute;
  right: 20px;
  top: 40%;
  pointer-events: none;
  cursor: pointer;
}
.pop-up main .btn {
  height: 35px;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid #d2dadd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.pop-up main .btn .quit,
.pop-up main .btn .confirm {
  height: 100%;
  width: 50%;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
  color: #696969;
}
.pop-up main .btn .quit {
  border-right: 1px solid #d2dadd;
}
.con-window {
  position: absolute;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  display: flex;
}
.con-window .con-wrap {
  width: 250px;
  height: 360px;
  background: #f2f2f2;
  border-radius: 21px;
  margin: auto;
  box-shadow: 2px 2px 10px #6b6b6b;
}
.con-window .con-wrap .con-top {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #949494;
  position: relative;
}
.con-window .con-wrap .con-top .con-title {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  color: #424242;
}
.con-window .con-wrap .con-top .con-time {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 18px;
  line-height: 10px;
  font-size: 12px;
  color: #949494;
  text-align: center;
}
.con-window .con-wrap .con-btm {
  width: 80%;
  height: 210px;
  word-break: break-all;
  line-height: 20px;
  padding: 5px;
  color: #666666;
  box-sizing: border-box;
  margin: 20px auto;
}
.con-window .con-wrap .con-del {
  text-align: center;
  color: #696969;
  font-size: 25px;
  cursor: pointer;
}
