body,
html {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  background: #d2dadd;
}
body #app {
  position: relative;
  margin: auto;
  width: 334px;
  height: 572px;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #c4c4c4;
}
header {
  width: 100%;
  height: 135px;
  background: #1d7fee;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 2px 5px #acacac;
}
header .title-wrap {
  width: 100%;
  color: #ffffff;
  display: flex;
  background: url(../image/cloud_two.png);
  background-size: cover;
  background-position-x: 70px;
}
header .title-wrap .left-con {
  width: 50%;
  padding: 60px 0 10px 20px;
}
header .title-wrap .left-con .title {
  font-size: 30px;
}
header .title-wrap .left-con .time {
  font-size: 10px;
  padding: 10px 0 0 0;
}
.slider-wrap {
  overflow: hidden;
}
@keyframes sliderMove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-650px);
  }
  100% {
    transform: translateX(0);
  }
}
.slider {
  display: block;
  width: 990px;
  height: 130px;
  background: #ffffff;
  transition: 1s transform;
  animation: sliderMove 5s;
}
.slider .label {
  width: 150px;
  height: 95px;
  border-radius: 10px;
  transform: translateY(20px);
  margin-left: 10px;
  color: #ffffff;
  float: left;
  cursor: pointer;
}
.slider .label .plan-wrap {
  height: 40px;
  transform: translateY(32px);
  margin-left: 10px;
}
.slider .label .plan-wrap .plan {
  font-size: 22px;
  margin-bottom: 5px;
}
.slider .label .plan-wrap .items {
  font-size: 12px;
}
.slider .label:nth-child(1) {
  background: #ec745c;
  margin-right: 5px;
}
.slider .label:nth-child(2) {
  background: #5e5efe;
}
.slider .label:nth-child(3) {
  background: #fbab4a;
  margin-right: 5px;
}
.slider .label:nth-child(4) {
  background: #26b7f0;
}
.slider .label:nth-child(5) {
  background: #18e929;
  margin-right: 5px;
}
.slider .label:nth-child(6) {
  background: #e76f1f;
}
.dot {
  height: 12px;
}
.dot ul {
  width: 60px;
  margin: 0 auto;
}
.dot ul li {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #1277e4;
  margin-left: 5px;
  cursor: pointer;
}
.dot ul li.active {
  background: #1d7fee;
}
main {
  width: 100%;
  height: 280px;
}
main .date {
  height: 40px;
  padding: 10px 0 0 10px;
  box-sizing: content-box;
}
main .date h2 {
  width: 85%;
  font-size: 25px;
  float: left;
}
main .date .date-time {
  width: 15%;
  font-size: 13px;
  line-height: 25px;
}
main .bar {
  width: 95%;
  height: 8px;
  border-radius: 5px;
  background: #187eec;
  margin: 0 auto;
}
main .affair {
  width: 100%;
  height: 56px;
  margin: 10px 0;
}
main .affair .up {
  height: 28px;
  padding: 10px 6px 0 6px;
  cursor: pointer;
}
main .affair .up .circle {
  float: left;
  font-size: 18px;
  margin-right: 5px;
}
main .affair .up .affair-title {
  float: left;
  color: #696969;
}
main .affair .up .time {
  float: right;
  font-size: 12px;
  line-height: 18px;
  color: #949494;
}
main .affair .up .circle {
  color: #fbab4a;
}
main .affair .down {
  width: 80%;
  height: 18px;
  font-size: 10px;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.add-icon {
  position: absolute;
  color: #1277e4;
  font-size: 40px;
  right: 10px;
  bottom: 40px;
  cursor: pointer;
  z-index: 2;
}
.pop-up {
  position: absolute;
  visibility: visible;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  display: flex;
}
.pop-up main {
  width: 250px;
  height: 360px;
  background: #f2f2f2;
  border-radius: 20px;
  margin: auto;
  box-shadow: 2px 2px 10px #6b6b6b;
}
.pop-up main .com {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  color: #696969;
  border-bottom: 1px solid #d2dadd;
}
.pop-up main .title-box {
  height: 50px;
  padding-top: 15px;
  color: #424242;
  border-bottom: 1px solid #d2dadd;
}
.pop-up main .title-box div {
  width: 80%;
  height: 28px;
  border: 1px solid #818181;
  border-radius: 10px;
  margin: 0 auto;
  padding: 5px 5px 0 5px;
}
.pop-up main .title-box div input {
  width: 95%;
  height: 22px;
  border: none;
  outline: none;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
}
.pop-up main .title-box div input:focus {
  border: none;
}
.pop-up main .desc {
  height: 130px;
  padding-top: 15px;
  border-bottom: 1px solid #d2dadd;
}
.pop-up main .desc textarea {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  outline: none;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.pop-up main .option {
  width: 140px;
  height: 30px;
  border: 1px solid #818181;
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
}
.pop-up main .option select {
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  line-height: 30px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 20px;
}
.pop-up main .option:after {
  content: "";
  width: 14px;
  height: 8px;
  background: url(../image/down.jpg) no-repeat center;
  background-size: cover;
  position: absolute;
  right: 20px;
  top: 40%;
  pointer-events: none;
  cursor: pointer;
}
.pop-up main .btn {
  margin-top: 15px auto 0 auto;
  height: 35px;
  background-color: #1277e4;
  width: 90%;
}
.pop-up main .btn .quit,
.pop-up main .btn .confirm {
  display: inline-block;
  width: 40%;
  height: 100%;
  border: 1px solid #424242;
}
.pop-up main .btn .quit {
  border: 1px solid #424242;
}
